@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif !important;
}
h2.int_title{
font-family: 'Montserrat', sans-serif !important;
font-weight: 500;
font-size: 18px
}
.nav-link {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Montserrat', sans-serif !important;
  font-weight : 400;
}
/* a.nav-link:hover{
    color:red !important;
} */
.navbar-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 2px;
  position: relative;
}
.navbar-nav li::after{
  content: '';
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left:0;
  bottom: 2px;
  transition: 0.5s;
}
.navbar-nav li:hover::after{
  width: 100%;
}
.dropdown-item{
  align-items: center;
}
/* .dropdown-item:hover {background-color: #ddd;} */
/* .container{
    max-width: 100%;
    padding:0  !important;
} */
div#agenda_row {
    margin-top: -23%;
}
div#congattypage div#agenda_row{
    margin-top:0% !important;
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
footer .container {
    border-top: 1px solid #274d78;
    width:100% !important;
    color: #fff !important;
}
footer .container .row {
    margin: 0% 20% !important;
}
#directory .card-title{
    display:none;
}
.card{
    cursor: pointer;
}
#news_sec , #mayors_corner, #news_sec, #directory , img , .cards{
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

#news1_sec , #mayors_corner, #news1_sec, #directory , img , .cards{
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}
/*Global*/
label{
    margin-bottom:0 !important;
}
.row{
    margin-right: 0  !important;
    margin-left: 0  !important;
}
.row h1{
    color:#000;
    font-family: 'Montserrat', sans-serif !important;
    font-weight : 700;
}
/*nav-start*/

nav div#navbarNavDropdown {
  display: block !important;
  float: right;
  margin-left: 100px;

}
/* nav a#navbarDropdownMenuLink {
  width: 25%;
  margin: 0 auto;
} */
nav ul.dropdown-menu.show {
  right: 0;
  top: 68%;
  left: auto;
}

/*nav-end*/
/*map-start*/

/*map-end*/
/*directory-start*/
#directory{
    text-align: center;


}

#directory .col-med-3{
    display: inline-block !important;
    width: 24%;
    margin-top:2%;
    color:#fff;
    padding: 0 1px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;

}
#directory .col-sm-10, #directory .col-sm-2{
    text-align:center;
    margin-bottom: 5%;
}
#directory .card{
    height: 130px;
    border: 0px;
}
#directory .card-title{
     font-size: 14px;
}

#directory  .card-body {
    flex: 1 1 auto;
    padding: 1rem .5rem;
}
#directory .container{
    padding-right:0px !important;
    padding-left:0px !important;

}
#directory #tabs{
    margin-top: 42%;
    margin-bottom: 20%;
}
#directory  #tabs button {
    width: 50%;
}
.blue{
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #7EE8FA 0%, #6782b4 74%);
}
/*.green{
    background: linear-gradient(65deg,#3C6997,#1D3349);
}*/
.red{
    background-color: #b2505c;
    background-image: linear-gradient(315deg, #b2505c 0%, #D82020 74%);
}
.contents_orig{
    top:-2550%;
    color:transparent;
    position:absolute !important;
    transition: all .1s ease-in-out;
    text-align: center;


}
.contents_orig.likod_txt{
    width:90% !important;
}
.contents_orig a{
    color:transparent;

}
.initial{
    position: relative;
}
.int_title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    font-weight: 600;

}

.card-title {
    padding-top: 3%;
}
.shadow_text{
    z-index:-1;
}
.likod_txt{
    background-color:rgba(0, 0, 0, 0);
}
#directory .card{
    border-radius: 8px;
}
/*directory-end*/

/*carousel-start*/
.carousel{
    background: transparent;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    bottom: -34px;
  }
.carousel-indicators .active {
    opacity: 1;
    background-color: #5d6088;
}
.carousel-indicators li {
    background-color: #999797;
}
.carousel-control-prev {
    left: -8%;
    width: 20%;
}
.carousel-control-next {
    right: -8%;
    width: 20%;
}
.carousel-inner .col-sm-6 {
    margin-bottom: 1%;
}
/*carousel-end*/
/*mayors-start*/
#mayors_link{
    margin: 1% 0;
    float: right;
    font-weight: 600;
    font-size: 1.5rem;
    border: 3px solid #1b2560;
    padding: 0.5% 3%;
    color: #fff;
    background: #e63946;
    border-radius: 8px;
    text-decoration: none;
}
#article_contents{
    height: 100px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-top: 5%;
}
#image_slide{
    width: 473px;
    height: 400px;
}
#article_title{
    height: 90px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*mayors-end*/

#news h1 {
    margin-bottom: 3%;
}
#news .card{
    margin-bottom:2%;
}
#news .card-title{
    text-align:center;
    color:#1f1c4b;
    font-weight:700;
}

#news1 h1 {
    margin-bottom: 3%;
}
#news1 .card{
    margin-bottom:10%;
}
#news1 .card-title{
    text-align:center;
    color:#1f1c4b;
    font-weight:700;
}



#image_big{
    margin: 0 auto;
    display: block;
    height: 350px;
}
.title_big a{
    color: #fff !important;
    text-decoration: none;

}
.title_big {
    text-align:center !important;
    position: relative;
    bottom: 32.4%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff !important;
    font-weight: 600;
    text-align: left;
    left: 0 !important;
    /* margin: 0 auto; */
    font-size: 18pt;
    width: 100% !important;
    padding: 2% 2%;
}
.recent_psmall a{
    color:#000 !important;
    font-weight:700;
    text-align:left;
    height: 45px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.recent_small img{
    width:210px;
    height:95px;
}
#bulletin_bod img{
    width: 60% !important;
    height: 150px;
}
#bulletin_sec .card{
    margin:0.76% !important;
}

#bulletin_bod #bulletin_desc {
    height: 52px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    text-decoration:none;
}

#bulletin_readmore{
    color:#2b92b0 !important;
    font-weight:700;
    font-size: 14px;
    float:left;
    text-transform:uppercase;
    text-decoration:none;
}

#_viewmore a{
    color:#2b92b0 !important;
    font-weight:700;
    font-size: 18px;
    float:right;
    text-transform:uppercase;
    text-decoration:none;
    right: 3%;
    top: 88%;
    position: absolute;
}
/*mayors corner end*/

.contentss p, .descriptionsss p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 1%;
}

a.nav-link{
    color:#fff ;
    font-weight:500;
}
a.nav-link.active{
    color:#050505 !important;
    font-weight:700;
}
div#bulletin_sec, #news_card {
    height: 100%;
}
#tabs button{
    text-transform:uppercase;
}
/*1601 - 1920 px*/
@media screen and (min-device-width: 1601px) and (max-device-width: 1920px) {
    /*directory*/

    #tabs button{
        font-size:25px;
        text-transform:uppercase;
        font-weight:600;
    }
   .int_title {
       font-size:20px ;
   }
   #directory .card {
    height: 130px;
    }
    /*nav*/
    a.nav-link{
    font-size:18px;
    font-weight:400;
    }
    .row h1{
        font-size:60px;
    }
    /*mayors*/
    #mayors_corner .container-lg.my-3 {
    max-width: 100%;
    width: 90%;
    }
    .carousel-control-prev {
    left: -6%;
    width: 10%;
    }
    .carousel-control-next {
    right: -6%;
    width: 10%;
    }
    #image_slide {
    width: 100%;
    height: 80%;
    }
    #article_contents{
        font-size:20px;
        height: 178px;
    }
    #article_title{
        font-size:32px;
        height: 75px !important;
        margin-bottom:5%;
    }
    #mayors_corner a{
        font-size:25px;
        z-index:1;
    }

    /*news*/
    #bulletin_sec .card {
    margin: 3.5% !important;
    }
    #bulletin_bod #bulletin_desc, .latest_news {
        height: 52px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #000;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
    }
    #bulletin_readmore {
        font-size: 18px;
    }
    .title_big {
        font-size: 18px;
        width: 95.7%;
    }
}

/*#bulletin_sec .card {*/
/*    margin: 0.3% !important;*/
/*}*/
@media screen and (min-device-width: 1367px) and (max-device-width: 1440px) {
    .carousel-control-prev {
        left: -7%;
        width: 10%;
    }
    .carousel-control-next {
        right: -7%;
        width: 10%;
    }
}
@media screen and (min-device-width: 1201px) and (max-device-width: 1366px) {
    footer .container .row {
        margin: 0 9% !important;
    }
    #nav .container {
        margin: 0 6% !important;
    }
    .carousel-control-prev {
        left: 0%;
        width: 10%;
    }
    .carousel-control-next {
        right: 0%;
        width: 10%;
    }
}
@media screen and (min-device-width: 1099px) and (max-device-width: 1200px) {
    .carousel-control-prev {
        left: -4%;
        width: 10%;
    }
    .carousel-control-next {
        right: -4%;
        width: 10%;
    }
    .title_big {
    bottom: 45.4%;
    }
    .nav-link {
        font-size:12px;
    }
    h1 {
        font-size: 30px !important;
    }
}
footer .container {
    border-top: 1px solid #274d78;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
    margin-bottom:2%;
}
#sitelink {
    font-size: 19px;
    font-weight: 700;
    color: #25295f;
}
.for_mob{
    display:none;
}
.for_pc{
    display:block;
}
@media screen and (min-device-width: 10px) and (max-device-width: 767px) {

.carousel-indicators{
    margin:0 auto;
}
div#mayorqr, div#mayors_corner, div#covid_updates, div#news_sec, #gov-sites{
        max-width: 100% !important;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0 !important;
}
nav.navbar.navbar-expand-lg.navbar-light img {
    width: 50px !important;
    height: 50px !important;
}
button.navbar-toggler{
    margin-top:3% !important;
}
#Department img{
  width:100% !important;
  height: auto !important;
}
.mayor_ .col-4.col-sm-4 {
    width: 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.mayor_  #_viewmore a {
    color: #2b92b0 !important;
    font-weight: 700;
    font-size: 18px;
    float: right;
    text-transform: uppercase;
    text-decoration: none;
    right: 3%;
    top: 103% !important;
    position: absolute;
}

.mayor_  .col-sm-4{
  margin-top:0%;

}

nav div#navbarNavDropdown {
    display: none !important;
    float: right;
  }
.for_mob{
    display:block;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}
.for_pc{
    display:none;
}
#directory #tabs button {
    width: 90% !important;
}
footer .container {
    margin-bottom:0%;
}
/* ul.navbar-nav {
    display: none;
} */
/*.contents_orig {*/
/*    top: -1050% !important;*/
/*}*/
#directory .col-med-3 {
    width: 85% !important;
}
a.carousel-control-prev .carousel-control-next {
    display: none;
}
#bulletin_bod img {
    width: 100% !important;
    height: 150px;
}
footer .col-sm-3{
    margin-bottom:5%;
    text-align:center;
}
footer .col-sm-4{
    margin-bottom:5%;
    text-align:center;
    font-size:12px !important;
}
footer .col-sm-4 p{
    font-size:16px !important;
}
.title_big {
    bottom: 45%;
    font-size: 12pt;
    width: 89.8%;
}
div#end_footer h3 {
    font-size:14px ;
    line-height:25px;
}
.carousel-control-prev {
    display:none !important;
}
.carousel-control-next {
    display:none !important;
}
#image_slide {
    width: 100% !important;
    height: 100% !important;
}

}
div#end_footer {
    background: #be2026;
}
div#end_footer h3 {
    font-weight: 600;
}
@media screen and (min-device-width: 10px) and (max-device-width: 767px) {
    .head_{
        height: 25px !important;
    }
    #vicempage, #vicempage .col-12.col-sm-12, div#vicepic {
        padding: 0 !important;
    }
    .congpic .col-12.col-sm-12 {
        padding: 0;
    }  
      
    #directory .card-title {
        font-size: 20px;
    }
    .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }
    .contents_orig{
        top:0 !important;
        z-index:1 !important;
        display: block !important;
        color:#fff !important;
        font-size:12px;
    }
    .int_title{
        display:none !important;
    }
    li.nav-item.dropdown {
        width: 30%;
    }
    nav .col-sm-2{
        width: 100%;
        text-align:center;
    }
    nav .col-sm-8{
        width: 20%;
    }
    a.nav-link {
        float: right;
    }
    div#mobile_nav {
        width: 56% !important;
        right: 0%;
        position:absolute;
        right:0;
        z-index:12;
        display:none;
    }
    .navbar-nav li{
        display:block;
    }
    li.nav-item.dropdown {
        width: 100%;
    }
    .container {
        max-width: 100% !important;
    }
}
/* for footer */
@media screen and (max-width: 766px) and (min-width: 200px) {
  #bulletin_bod .col-4.col-sm-4, #bulletin_bod .col-8.col-sm-8{
    max-width:100% !important;
    width: 100% !important;
  }
  div#gov-sites{
      display:none;
    }
  #e{
    font-size: 16px !important;
    margin-left: -40% !important;
  }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
}

    div#mobile_nav {
        width: 50%;
        position:fixed;
        right:0;
        z-index:12 !important;
        display:none;
    }

    #nav, #nav .container{
        width: 100% !important;
        max-width: 100%;
        padding: 0;
    }
    #nav_logo{
        text-align: left !important;
        padding:0;
    }


    /* #nav .container {
        margin: 0 4%;
    } */
    /*div#mayors_corner {*/
    /*    width: 100% !important;*/
    /*    max-width: 100% !important;*/
    /*}*/
    .recent_small {
        margin-top: 8%;
    }

    #news_card a#_viewmore {
        margin-top: 7%;
        margin-bottom: 5%;
    }
    div#bulletin_bod {
        padding: 7px 2px;
    }
    .title_big {
        bottom: 42.5%;
        width: 90%;
        left: 5%;
    }

    
    #article_link{
        float:left !important;
    }
    label.card-text {
        font-size: 13px;
    }

    #nav, #nav .container{
    width: 100% !important;
    max-width: 100%;
    padding: 0;
}
#nav_logo{
    text-align: left !important;
    padding: 0;
}
/* nav div#navbarNavDropdown {
    display: block !important;
    float: unset !important;
} */
/* #nav .container {
    margin: 0 4%;
} */
.recent_small {
    margin-top: 5%;
    margin-bottom: 5.6%;
}
#news_card a#_viewmore {
    margin-top: 7%;
    margin-bottom: 5%;
}
div#bulletin_bod {
    padding: 7px 2px;
}
.title_big {
    bottom: 42.5%;
    width: 90%;
    left: 5%;
}



#article_link{
    float:left !important;
}
#directory, #news, #mayors_corner{
    visibility:hidden;
}

#nav, #nav .container{
    width: 100% !important;
    max-width: 100%;
    padding: 0;
}
#nav_logo{
    text-align: left !important;
    padding:0 ;
}
/* nav div#navbarNavDropdown {
    display: block !important;
    float: unset !important;
} */
#nav .container {
    margin: 0 2%;
}
.recent_small {
    margin-top: 5%;
    margin-bottom: 5.6%;
}
#news_card a#_viewmore {
    margin-top: 7%;
    margin-bottom: 5%;
}
div#bulletin_bod {
    padding: 7px 2px;
}
.title_big {
    bottom: 42.5%;
    width: 90%;
    left: 5%;
}

.recent_big {
    margin-top: 4%;
    
}
.recent_big img {
    padding: 1%;
    border-radius: 10px 10px;
}

#article_link{
    float:left !important;
}
#directory, #news, #mayors_corner{
    visibility:hidden;
}


/*map*/
.col-sm-8.mapppy {
    background-repeat: no-repeat;
}
.map_b{
    color:transparent !important;
    font-weight:600;
}
button.map_b {
    font-weight: bold;
    opacity: 1;
    text-transform: uppercase;
    font-size:15px;
}
button.map_b:hover{
    color: #1b3b6f !important;
}
.descriptionsss{
    display:none ;
}
.contentss p {
    width: 100%;
    height: 200px;
    overflow: auto;
}
.descriptionsss{
    display:none ;
}
.contentss p ,.batis p, .descriptionsss p{

    text-align:left ;
      width: 100%;
      height: 160px;
      overflow: auto;
}
#map h1{
    font-size: 28px !important;
}
.navbar-brand{
    margin-right: 0 !important;
}

#map a#mayors_link {
    float: unset  !important;
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:3%;
}
/*end map*/


/*mayorqr -start*/
div#mayorqr , .container{
    max-width: 100% !important;
}

/*mayorqr - end*/

/*.carousel-inner .carousel-item {*/
/*  transition: -webkit-transform 0.3s ease;*/
/*  transition: transform 0.3s ease;*/
/*  transition: transform 0.3s ease, -webkit-transform 2s ease;*/
/*}*/

/* .active__ ::after{
    content: '';
        height: 3px;
        width: 100%;
        background: red;
        position: absolute;
        left: 0;
        bottom: 2px;
        transition: 0.5s;
    } */
    .covid_img{
        width: 60% !important;
        height: 60% !important;
        margin: 0 auto;
        display: block;
    }
    .covid_date a{
        height:auto !important;
        text-align:left !important;
    }

    #bulletin_bod img {
        width: 100% !important;
        height: 100% !important;
    }

    .carousel-indicators li {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 10px !important;
        height: 10px !important;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        /* background-color: rgba(255,255,255,.5); */
    }
    .carousel-indicators .active {
        opacity: 1;
        background-color: #5d6088 !important;
    }
    .carousel-indicators li {
        background-color: #999797 !important;
    }
    div#news_sec {
        max-width: 90% !important;
        padding: 0 !important;
    }
    div#news_sec .col-sm-8{
        /* padding: 0 !important; */
    }
    .soc_med{
        /* position:relative;
        display: inline;
        right: 15px;
        top: 15px; */
    }
  .datesss img, .soc_med img {
      width: 24px;
      height: 24px;
  }
  .datesss a{
    display: inline;
    padding: 0;
  }
  .soc_med a {
    padding: 0 ;
    margin-bottom:2px;
  }

a#navbarDropdownMenuLink {
    color:#1b2560 ;
}
.header-section .nav-item .nav-link,a.nav-link {
    font-size: 14px;
    color: #656b72 ;
}
nav.navbar.navbar-expand-lg.navbar-light {
    background: #fff ;
    }
div#nav {
    position: sticky;
    z-index: 99;
    top: 0;
}
.nav_linkssss{

    background: #1b2560 ;
}
.nav_linkssss_{
    color: #fff ;
}
.card-body.sc {
    padding: 0;
}
div#mayorqr,div#mayors_corner,div#covid_updates,div#news_sec,#gov-sites {
    max-width: 100% !important;
}
body {
    background: #f3f3f3;
}
img{
   border-radius: 1% !important;
}
img.covid_img {
    padding: 3% 0;
}
#covid_updates .card-body {
    border-radius: 1% !important;
}
#covid_updates .card, #news_card,#news .card, #mayorqr #news_card{
    border: 0 ;
}

#news .card-body, #news_card .card-body, #mayorqr #news_card{
     border-radius: 1% !important;
}
div#mayorqr, div#mayors_corner, div#covid_updates, div#news_sec {
    background: #fff;
}

#desc{
    height: 115px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
#news #bulletin_bod #bulletin_desc{
    height:20px !important;
}
#news #article_contents{
    margin-top: 0;
    height: 200px !important;
}
#mayorqr .recent_small {
    height: 12px !important;
}

#gov-sites .col-sm {
    margin: 0 auto;
    display: block;
    text-align: center;
}
/*#image_big {*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    height: 100%;*/
/*}*/
/*#news_card img{*/
/*    width: 100% !important;*/
/*    height: 100% !important;*/
/*}*/
div#side_prof {
    position: fixed;
    margin-top: 5%;
    width: 15%;
    z-index:999;
}
.side_btn{
    left:-190px;
    position:absolute;
    width: 100%;
}
.side_btn:hover{
    left:1px;
    transition: all 0.5s ease 0s;
    background:#e82525 !important;
}
div#profile_contents {
    height: 400px;
    overflow-y: scroll;
}
div#achievements_contents {
    height: 320px;
    overflow-y: scroll;
}
#achievement_row h5.card-title {
    height: 105px;
}

#descriptions_ {

    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    /* color: #000; */
    /* font-weight: 600; */
    font-size: 16px;
    text-decoration: none;
}

div#profile_row, div#achievement_row, div#carousel_row,div#agenda_row{
    display: none;
}

.container h3 ,.container h1 ,.container h2 , .container p,.container h5{
    color: #000 !important;
}
footer #sitelink {
    color: #fff !important;
}
button.tablinks {
    font-weight: 700;
    color:#1f1c4b !important;
}
/*scroll*/
.sc::-webkit-scrollbar {
  width: 6px;

}

/* Track */
.sc::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
.sc::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
.sc::-webkit-scrollbar-thumb:hover {
  background: #000;
}
div#Department {
    margin: 8% auto;
}
.display{
    display: none;
}
.lahat:hover + .display{
    display: block;
    color: blue !important;

}
  div#Department img {
    border-radius: 5% !important;
}
div#eser {
    margin-top: 0 !important;
}

@media screen and (min-device-width: 1601px) and (max-device-width: 1920px) {
    .side_btn{
    left:-230px;
    position:absolute;
    width: 100%;
}
}

@media screen and (min-device-width: 1367px) and (max-device-width: 1500px) {
    .side_btn{
    left:-170px;
    position:absolute;
    width: 100%;
}
}

@media screen and (min-device-width: 1205px) and (max-device-width: 1366px) {
    .side_btn{
    left:-160px;
    position:absolute;
    width: 100%;
    
}
h1 {
    font-size: 30px !important;
}
}

@media screen and (min-device-width: 1199px) and (max-device-width: 1204px) {
    .side_btn{
    left:-145px;
    position:absolute;
    width: 100%;
}
}

@media screen and (max-device-width: 1500px) {
    div#mayorqr, div#mayors_corner, div#covid_updates, div#news_sec, #gov-sites {max-width: 90% !important;}
    #nav .container {margin: 0px 4% !important;}
}
section{
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

section .container{
  position: relative;
  display: flex;
  z-index: 1;
}

section .container .contactform{
  position: relative;
  padding: 10px 10px;
  background: #fff;
  width: calc(100% - 150px);
  height: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: auto;
}
#sjch1{
  font-size: 25px;
  color:#1b2560;
  font-weight: bolder;
}
#sjch2{
  font-size: 25px;
  color: red;
  font-weight:700;
}
#sjch3{
  font-size: 20px;
  color:#1b2560;
  font-weight: bolder;
}
#sjch3{
  font-size: 20px;
  color:#1b2560;
  font-weight: bolder;
}
#sjchbrgy{
  font-size: 20px;
  color:#1b2560;
  font-weight: bolder;
}
#konsilaman{
  font-size: 20px;
  color:#1b2560;
  font-weight: bolder;
}
.ctus{
  font-size: 15px;
  color:black;
  font-weight: bolder;
}
.pula{
  font-size: 15px;
  color:red;
  font-weight: 700;
}
.sjcat{
  font-size: 30px;
  color:red;
  text-align: center;
  font-weight: 700;
}
#loc{
  width: 20%;
}
div#myCarousel img {
    width: 50% !important;
}
.modal-backdrop.show {
    opacity: 0;
    z-index:-1;
}
.tourism p{
    text-align: left;
    color: white !important;
    padding: 0 5%;
}
@media screen and (max-width: 766px) and (min-width: 200px) {
  #conus {
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #conus .contactform{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important
  }
  #conus .contactform #sjch1{
    font-size: 15px;
  }
  #conus .contactform #sjch2{
    font-size: 15px;
  }
  #deptconus .contactform{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important
  }
  #deptconus .contactform h1{
    font-size: 22px;
  }
  #deptconus .contactform #dir{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #deptconus .contactform thead{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #deptconus .contactform thead #sjch3{
    font-size: 20px;
  }
  #deptconus .contactform tbody .sjcat{
    font-size: 17px;
  }
  #deptconus .contactform tbody .ctus{
    font-size: 10px;
  }
  #deptconus .contactform tbody .pula{
    font-size: 10px;
  }


  #brgyconus .contactform{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important
  }
  #brgyconus .contactform h1{
    font-size: 22px;
  }
  #brgyconus .contactform #brgydirect{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #brgyconus .contactform thead{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #brgyconus .contactform thead #sjchbrgy{
    font-size: 15px !important;
  }
  #brgyconus .contactform tbody .sjcat{
    font-size: 17px;
  }
  #brgyconus .contactform tbody .ctus{
    font-size: 8px;
    font-weight: 700;
  }
  #brgyconus .contactform tbody .pula{
    font-size: 10px;
  }

  #konsiconus .contactform{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important
  }
  #konsiconus .contactform h1{
    font-size: 22px;
  }
  #konsiconus .contactform #konsehal{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #konsiconus .contactform thead{
    max-width: 100% !important;
    width:100% !important;
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
  }
  #konsiconus .contactform thead #konsilaman{
    font-size: 23px !important;
  }
  #konsiconus .contactform tbody .sjcat{
    font-size: 17px;
  }
  #konsiconus .contactform tbody .ctus{
    font-size: 10px;
    font-weight: 700;
  }
  #konsiconus .contactform tbody .pula{
    font-size: 12px;
  }
}
#side_prof_mob{
    display:none;
}
@media screen and (min-device-width: 10px) and (max-device-width: 767px) {
    .col-sm-6 {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 8%;
    }
    div#aanouncementss{
        display:none;
    }
    div#myCarousel img {
        width: 100% !important;
    }
    #eser1 {
    margin-top: 10% !important;
    }
    #_viewmore a {
        font-size: 10px !important;
    }
    #achievement_row {
        /* display: block; */
        margin-top: 0% !important;
    }
    img#vm_pic {
        width: 100% !important;
        margin-bottom: 2%;
    }
    .card-header.tab-card-header {
        padding: 0 !important;
    }
    .cong_ .col-12.col-sm-12.mt-2 , .cong_ .col-sm-6 {
        padding: 0  !important;
    }
    h1{
        font-size:25px !important;
    }
    #side_prof_mob{
        display:block;
    }
    div#side_prof_mob {
        padding: 2%;
        margin-top: 0 !important;
        margin-bottom: 3%;
    }
    
    div#side_prof_mob a {
        display: inline-block !important;
        width: 24%;
        text-align: center !important;
        font-size: 8px;
        position: relative;
    }
    div#mayorqr, div#mayors_corner, div#covid_updates, div#news_sec, #gov-sites{
            max-width: 100% !important;
    }
    #covid_updates .card, #eser {
        margin-top: 12%;
    }
    #news #_viewmore a{
          top: 96.9%;
    }
    #news  .card {
        margin-bottom: 8%;
    }
    div#act {
        margin: 13% 0;
    }
    
    body {
        background: #fff !important;
    }
    .side_btn{
        left:0
      }
      div#side_prof {
          position: relative !important;
          margin-top: 0 !important;
          width: 100%;
          padding-bottom: 15%;
          padding-top: 7%;
          z-index: 1 !important;
      }
      #side_prof{
          display:none;
      }
      a.navbar-brand {
        padding: 0;
    }
    nav.navbar.navbar-expand-lg.navbar-light img {
        width: 65px !important;
        height: 65px !important;
    }
}

/* directory page */
@media only screen and (max-width: 1920px) and (min-width: 1501px)  {
    div#dtpage {
      max-width: 65% !important;
      width: 65% !important;
      flex: 0 0 100%;
    }
    .sidedirect{
      height: 350px !important;
    }
    .catdirect{
      font-size: 20px;
      color:#1b2560;
      font-weight: 900;
      text-align: center;
  
    }
    .directbtn{
      font-size: 15px;
      color:#1b2560;
      font-weight: 800;
    }
    #konsilaman{
      font-size: 20px;
      color:#1b2560;
      font-weight: 900;
      text-align: center;
    }
    .ctus{
      font-size: 15px;
      color:black;
      font-weight: 500;
      text-align: left;
    }
    .pula{
      font-size: 15px;
      color:red;
      font-weight: 700;
    }
  
  }

  /* vice mayor's page */
@media only screen and (max-width: 1920px) and (min-width: 1080px)  {
    div#vicempage {
      max-width: 100% !important;
      width: 100% !important;
      flex: 0 0 100%;
    }
    #vicempage .col-sm-6 .newshead{
      font-size: 40px !important;
    }
    #vicempage #vicesoc{
      font-size: 30px !important;
    }
    #vicempage h2{
      font-size: 40px !important;
    }
    #_viewmore a{
      font-size: 18px !important;
    }
  }
  @media only screen and (max-width: 1600px) and (min-width: 900px)  {
    div#vicempage {
      max-width: 100% !important;
      width: 100% !important;
      flex: 0 0 100%;
    }
  
    #vicempage .col-sm-6 .newshead{
      font-size: 30px !important;
    }
    #vicempage #vicesoc{
      font-size: 20px !important;
    }
    #vicempage h2{
      font-size: 30px !important;
    }
    #_viewmore a{
      font-size: 12px !important;
    }
  }
  @media only screen and (max-width: 1366px) {
    div#vicempage {
      max-width: 100% !important;
      width: 100% !important;
      margin-left: -3% !important;
    }
    #vicempage .news_row{
      max-width: 100% !important;
      width: 100% !important;
      flex: 0 0 100%;
    }
    #vicempage .col-sm-6 .newshead{
      font-size: 30px !important;
    }
    #vicempage #vicesoc{
      font-size: 18px !important;
    }
    #vicempage h2{
      font-size: 30px !important;
    }
    #_viewmore a{
      font-size: 12px !important;
    }
  }
  @media only screen and (max-width: 1280px)  {
    div#vicempage {
      max-width: 100% !important;
      width: 100% !important;
      margin-left: 0% !important;
    }
    #vicempage .news_row{
      max-width: 100% !important;
      width: 100% !important;
      flex: 0 0 100%;
    }
    #vicempage .col-sm-6 .newshead{
      font-size: 30px !important;
    }
    #vicempage #vicesoc{
      font-size: 18px !important;
    }
    #vicempage h2{
      font-size: 30px !important;
    }
    #_viewmore a{
      font-size: 12px !important;
    }
  }
  .newshead{
    border-bottom: solid;
     border-color:black;
     font-size:40px !important;
      margin-top: 0 !important;
      text-align: center;
 }

.ann{
    height:100%;
}
div#Department img {
    width: 100% !important;
    height: 100% !important;
}
li.list-group-item.latest_news a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* margin-top: 5%; */
    font-size: 14px;
    line-height: 16px;
}
  /* a{
    text-transform: uppercase !important;
  } */
  .card .card-title a, .card .card-title a:hover {
        font-size: 26px;
    }


@media only screen and (max-width: 1499px) and (min-width: 1450px)  {
    .container,div#mayorqr, div#mayors_corner, div#covid_updates, div#news_sec, #gov-sites{
        max-width:100%!important;
      }
    .my-4 .carousel-inner, div#news,div#act,div#history,#mayors_corner .row, .mayor_ #news_card {
        /* max-width: 80% !important; */
        width: 100% !important;
        margin: 0 auto !important;
    }
    .container.tourism {
        max-width: 1140px !important;
    }
    div#social_med {
        width: 80% !important;
        margin: 5% auto !important;
    }
    div#myCarousel img {
        width: 50% !important;
    }
    div#myCarousel{
    margin-top:0 !important;
    }
    div#mayorqr{
    padding-top:0 !important;
    }

    div#mayorq .col-sm-12{
    margin: 0 !important;
    }
    #eser1 .card-body {
        margin: 0 !important;
    }
    .container.my-4 {
        padding: 0;
        margin-top: 0 !important;
    }
    div#multi-item-example {
        margin-top: 0;
    }
    .city_hall_front_pc
    {
        width: 80% !important;
        margin-top: -5%;
        height: 750px !important;
    }
    a.carousel-control-next {
        right: 0px  !important;
    }
    a.carousel-control-prev{
        left: 0px !important;
    }
    #nav .container {
        margin: 0 1%;
    }
    .datesss.col-sm-4 {
        float: right;
        text-align: right;
    }
    div#myCarousel img {
        width: 30% !important;
    }
    footer .container .row {
        margin: 0% 8% !important;
    }
}

@media only screen and (max-width: 1449px) and (min-width: 1201px)  {
    .container {
        max-width: 100% !important;
    }
    img.card-img-top {
        height: 500px !important;
    }
    div#eser1 .card-body {
        margin: 0 !important;
    }
    
}
@media only screen and (max-width: 1200px) and (min-width: 1099px)  {
    div#eser1 .card-body {
        margin: 0 !important;
    }
    .container {
        max-width: 100% !important;
    }
    .container.my-4 {
        margin: 0;
        padding: 0;
    }
    img.card-img-top {
        height: 350px !important;
    }
    
    #nav .container{
        margin: 0 !important;
    }
    h5#a1 {
        font-size: 25px !important;
    }
}


@media only screen and (max-width: 1920px) and (min-width: 1500px)  {
    .container,div#mayorqr, div#mayors_corner, div#covid_updates, div#news_sec, #gov-sites{
        max-width:100% !important;
      }
      #news_list h3{
          margin:2% 0 !important;
      }
    .my-4 .carousel-inner, div#news,div#act,div#history,#mayors_corner .row, .mayor_ #news_card {
        /* max-width: 80% !important; */
        width: 100% !important;
        margin: 0 auto !important;
    }
    div#social_med {
        width: 80% !important;
        margin: 5% auto !important;
    }
    div#myCarousel img {
        width: 50% !important;
    }
    div#myCarousel{
    margin-top:0 !important;
    }
    div#mayorqr{
    padding-top:0 !important;
    }

    div#mayorq .col-sm-12{
    margin: 0 !important;
    }
    #eser1 .card-body {
        margin: 0 !important;
    }
    .container.my-4 {
        padding: 0;
        margin-top: 0 !important;
    }
    div#multi-item-example {
        margin-top: 0;
    }
    .city_hall_front_pc
    {
        width: 80% !important;
        margin-top: -5%;
        height: 750px !important;
    }
    a.carousel-control-next {
        right: 0px  !important;
    }
    a.carousel-control-prev{
        left: 0px !important;
    }
    #nav .container {
        margin: 0 1%;
    }
    .datesss.col-sm-4 {
        float: right;
        text-align: right;
    }
    div#myCarousel img {
        width: 30% !important;
    }
    footer .container .row {
        margin: 0% 8% !important;
    }
    img.card-img-top {
        height: auto !important;
    }
}

#news_list a.btn.btn-info {
    font-size: 20px;
    width: 280px !important;
}
#news_list .col-md-4.clearfix img {
    margin: 0 auto;
    display: block;
}
#news_list h3{
    text-align: center;
    margin: 2% 0;
}
#news_list img {
    width: 350px !important;
    padding: 2%;
    height: auto !important;
}
.bottom p {
    padding: 0 5%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 2%;
    text-align: center;
}
#news_list .col-md-4.clearfix{
    margin-bottom: 2%;
}
#news_list a.btn.btn-info{
    background: #1b2560 !important;
}
@media screen and (min-device-width: 1501px) and (max-device-width: 1650px) {
    #news_list a.btn.btn-info {
        font-size: 18px  !important;
        width: 245px !important;
    }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1500px) {
    #news_list a.btn.btn-info {
        font-size: 18px  !important;
        width: 245px !important;
        display: inline-block !important;
    }
    div#news_list {
        padding: 0;
    }
    div#news_list .col-md-2 {
        position: fixed;
        z-index: 992;
        background: #fff;
    }
    .side_me{
        position: relative !important;
        display: inline-flex  !important;
    }
    #news_list .col-md-2 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        text-align: center;
        position: fixed !important;
        margin-top:0 !important;
    }
    #news_list .col-md-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    h3.blue{
        margin-top:12% !important;
    }

}
@media screen and (min-device-width: 1201px) and (max-device-width: 1366px) {
    .side_me{
        position: relative !important;
    }
}
.mobile_backtop{
    display: none;
}
@media screen and (min-device-width: 300px) and (max-device-width: 767px) {
   
    .mobile_backtop{
        display: block;
        position: fixed !important;
        width: 100%;
        bottom: -4px;
        z-index: 992;
    }
    #news_list img {
        width: 100% !important;
        padding: 2%;
        height: 100% !important;
    }
    div#side_prof_mob a {
        margin: 0 !important;
        margin-top: 5% !important;
    }
    #news_list .side_me{
        position: relative !important;
        text-align: center;
    }
    #news_list a.btn.btn-info {
        font-size: 20px !important;
        width: 100% !important;
        margin: 4px 0;
    }
    #news_list .container{
        padding-right: 0  !important;
        padding-left: 0 !important;
    }
    .datesss {
        padding-right: 2px !important;
        padding-left: 2px !important;
    }
    .container {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    #news_list .col-md-10 , #news_list{
        padding: 0 !important;
    }
    .blue{
        color: #ffffff !important;
    }
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:focus, .dropdown .dropdown-menu .dropdown-item:hover{
    color: #000 !important;
}
.navbar-nav li{
    display: block !important;
}

div#sjmcpage .col-lg-4{
    margin: 3% 0;
}
.carousel-control-next, .carousel-control-prev{
    width:10% !important;
}